default:
    suites:
        default:
            contexts:
                - App\Tests\Behat\Context\FeatureContext:
                    kernel: '@kernel'
                - Behat\MinkExtension\Context\MinkContext
                - behatch:context:json
                - behatch:context:rest
    extensions:
        Behat\Symfony2Extension:
            kernel:
                class: App\Kernel
                bootstrap: features/bootstrap.php
        Behat\MinkExtension:
            base_url: "http://127.0.0.1:8080/"
            sessions:
                default:
                    symfony2: ~
        Behatch\Extension: ~
